@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e29;
  color: #1e1e29;
  font-family: var(--font-montserrat), sans-serif;
}

.font-secondary {
  font-family: var(--font-open-sans), sans-serif;
}
